extends adminlayout

append title
  title 后台图片管理

block content
  .container
    .row
      each image in images
        .col-md-2.col-xs-4
          .image-box
            a(href="/uploads/#{image.originalimg}" data-lightbox="movie-images")
              img.img-responsive.lazy(src="/uploads/250/#{image.img}")
            p.admin-image-movie 电影：
              a(href="/movie/#{image.tomovie._id}") #{image.tomovie.title}
            if user && user.isadmin
              button.btn.btn-danger.btn-xs.btn-delimage(type="button" data-id="#{image._id}") 删除