extends adminlayout

append title
  title 审核中或者前台删除的电影列表

block content
   .container
    .row
      .col-md-12
        table.table.table-bordered
          tr
            th 片名
            th 导演
            th 主演
            th 国家
            th 年份
            th 发布人
            th 简介
            th 资源
            th 状态
            th 操作
          tbody
            each movie in movies
              tr(class="item-id-#{movie._id}")
                td #{movie.title}
                td #{movie.doctor}
                td #{movie.players}
                td #{movie.country}
                td #{movie.year}
                td #{movie.creator.name}
                td #{movie.summary}
                td 
                  ul.list-group
                    each resource in movie.resources
                      li.list-group-item.res-item #{resource.resource}
                td 
                  if movie.review==2
                    | 被删除
                  else if movie.review==1
                    | 审核中
                td 
                  a(href="/18r/movie/#{movie._id}/edit") 查看
                  button.btn.btn-danger.del(type="button", data-id="#{movie._id}") 删除