extends layout

append head
  meta(name="keywords" content="#{movie.title},#{movie.title}下载,#{movie.title}百度云网盘,#{movie.title}bt磁力链接,#{movie.title}电驴ed2k")
  meta(name="description" content="#{movie.summary}")
  meta(property="og:type" content="videolist")
  meta(property="og:title" content="#{movie.title}")
  meta(property="og:description" content="#{movie.summary}")
  meta(property="og:image" content="/uploads/400/#{movie.img}")
  meta(property="og:url" content="http://www.bt-ed2k.com/movie/#{movie._id}")
  meta(property="og:video:actor" content="#{movie.players}")
  meta(property="og:video:director" content="#{movie.doctor}")
  meta(property="og:video:area" content="#{movie.country}")
  - var classarr = [];
  each type in movie.types
    - classarr.push(type.tag);
  - var classes=classarr.join("、");
  meta(property="og:video:class" content="#{classes}")


block content
  .container
    .row
      .col-md-3
        section.tags.clearfix
          a.tag.current(href="/" title="bt老司机") 全部
          each tag in tags 
            a.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
        section.hots
          h3.hot-title 一周影片热门榜
          div.list-group
            each hot,i in hots
              if i<5
                a.list-group-item(href="/movie/#{hot._id}" title="#{hot.title}") #{hot.title}
        section.notice
          h3.hot-title 全站公告
            if user && user.isadmin
              a.notice-btn.pull-right(href="/notice/add") 添加公告
          div.btn-group.text-center
            each notice in locals.notices
              a.btn.btn-default.btn-do(href="/notice/#{notice._id}" title="#{notice.title}") #{notice.title}
      .col-md-9.article
        h1 #{movie.title}
        .author
          a.author-info(href="/user/#{movie.creator._id}" title="#{movie.creator.name}")
            img(src="/upload/avatar/avatar-#{movie.creator.avatar}.jpg" width="40" height="40" alt="#{movie.creator.name}")
            span #{movie.creator.name}
          span.pubdate 发表于 #{pubdate} &nbsp&nbsp
          span  已播放：#{movie.pv} 次
          .pull-right.admindo
            if user
              button.btn.btn-default(type="button" data-toggle="modal" data-target="#addtotopic") 收藏到专题
            if user&&user.isadmin
              a(href="/movie/#{movie._id}/update") 修改
              button.btn.btn-danger.del(type="button", data-id="#{movie._id}") 删除
        .movie-main.clearfix
            .col-md-5
              img.img-responsive(src="/uploads/400/#{movie.img}" alt="#{movie.title}")
            .col-md-7.movie-info
              dl.clearfix
                dt 导演:  
                dd #{movie.doctor}
              dl.clearfix
                dt 主演: 
                dd #{movie.players}
              dl.clearfix
                dt 电影类型: 
                dd
                  each type in movie.types
                    a(href="/tag/#{type._id}" title="#{type.tag}电影大全")
                      span.category #{type.tag}
              dl.clearfix
                dt 发行国家: 
                dd #{movie.country}
              dl.clearfix
                dt 上映年份: 
                dd #{movie.year}
              dl.clearfix
                dt  电影剧情简介: 
                - var summary = movie.summary;
                - var newsummary = summary.replace(/\r?\n/g,"<br />");
                dd.summary!= newsummary 
                dd.summary-hidden!=newsummary
        .col-md-12
            - var baidures = [];
            - var cilires = [];
            - var dianlvres = [];
            - var qihures = [];
            - var urlreg = /(http:\/\/|https:\/\/)((\w|=|\?|\.|\/|&|-)+)/g;
            each resource in movie.resources
              if resource.typeid == 1
                - baidures.push(resource);
              else if resource.typeid == 2
                - cilires.push(resource);
              else if resource.typeid == 3
                - dianlvres.push(resource);
              else if resource.typeid == 4
                - qihures.push(resource);
            if baidures.length
              .panel.panel-default
                .panel-heading 百度云网盘资源
                ul.list-group
                  each baidure in baidures
                    - var baiduyun = baidure.resource.replace(urlreg,"<a href='$1$2' target='_blank'>$1$2</a>")
                    if buy
                      li.list-group-item!= baiduyun
                    else
                      li.list-group-item
                        form.form(method="post",action="/movie/buy")
                          input(type="hidden", name="id", value="#{movie._id}")
                          button(type="submit").btn.btn-info 查看资源
            if cilires.length
              .panel.panel-default
                .panel-heading bt磁力链接
                ul.list-group
                  each cilire in cilires
                    - var cili = cilire.resource.split('&')
                    if buy
                      li.list-group-item 
                        a(href="#{cili[0]}" target='_blank') 磁力链接
                    else
                      li.list-group-item
                        form.form(method="post",action="/movie/buy")
                          input(type="hidden", name="id", value="#{movie._id}")
                          button(type="submit").btn.btn-info 查看资源
            if dianlvres.length
              .panel.panel-default
                .panel-heading 电驴ed2k链接
                ul.list-group
                  each dianlvre in dianlvres
                    - var dianlv = dianlvre.resource.split('|');
                    - var restitle = decodeURI(dianlv[2]);
                    if buy
                      li.list-group-item 
                        a(href="#{dianlvre.resource}" target='_blank')  #{restitle}
                    else
                      li.list-group-item
                        form.form(method="post",action="/movie/buy")
                          input(type="hidden", name="id", value="#{movie._id}")
                          button(type="submit").btn.btn-info 查看资源
            if qihures.length
              .panel.panel-default
                .panel-heading 360云网盘资源
                ul.list-group
                  each qihure in qihures
                    - var qihu = qihure.resource.replace(urlreg,"<a href='$1$2' target='_blank'>$1$2</a>")
                    if buy
                      li.list-group-item!= qihu
                    else
                      li.list-group-item
                        form.form(method="post",action="/movie/buy")
                          input(type="hidden", name="id", value="#{movie._id}")
                          button(type="submit").btn.btn-info 查看资源
            if user
              a.btn.btn-default.btn-block(href="/resource/#{movie._id}/add") 添加《#{movie.title}》的资源
            if movieintopics.length
              .movie-topics
                h3.coltopic 收录于以下专题
                each movieintopic in movieintopics
                  a(href="/topic/#{movieintopic._id}" title="#{movieintopic.topic}").btn.btn-primary #{movieintopic.topic}
            .recommands
              h3.coltopic 同类型电影推荐
              each movie in removies
                .col-md-3.col-sm-4.col-xs-6
                  .movie-box
                    a(href="/movie/#{movie._id}" title="#{movie.title}")
                      img.img-responsive(src="/uploads/400/#{movie.img}" alt="#{movie.title}")
                    h4 
                      a(href="/movie/#{movie._id}" title="#{movie.title}")= movie.title
            div.modal.fade#addtotopic(tabindex="-1" role="dialog" aria-labelledby="addtotopictitle")
              div.modal-dialog(role="document")
                div.modal-content
                  div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                      span(aria-hidden="true") &times;
                    h4.modal-title#addtotopictitle 选择电影专题
                  div.modal-body
                    if topics.length == 0
                      p 对不起，您还未创建过专题
                    else
                      form#addmovietotopic
                        div.item-select
                          each topic,i in topics
                            if i == 0
                              div.topiclist.select-top(data-movieid="#{movie._id}")
                                label
                                  input(type="radio" value="#{topic._id}" id="#{topic._id}" name="selecttopic" checked) 
                                  | #{topic.topic}
                            else
                              div.topiclist(data-movieid="#{movie._id}")
                                label
                                  input(type="radio" value="#{topic._id}" id="#{topic._id}" name="selecttopic")
                                  | #{topic.topic}
                  div.modal-footer
                    a.btn.btn-default(href="/topic/new") 点击创建专题
                    button.btn.btn-default(type="button" data-dismiss="modal") 关闭
                    if topics.length > 0
                      button.btn.btn-primary#subaddto(type="button" ) 提交

          