extends layout

append title
  title 一周热门电影排行榜

append head
  meta(name="keywords" content="一周热门电影排行榜")
  meta(name="description" content="一周热门电影排行榜是用户在一周以内发布的电影，根据浏览量进行排序的栏目！")

block content
  .container
    .row
      .col-md-12
        ol.breadcrumb
          li
            a(href="/") 首页
          li.active 一周热门电影排行榜
        h1.hots-title 一周热门电影排行榜
        table.table.table-bordered
          tr
            th 电影名
            th 导演
            th(style="width:40%;") 主演
            th 类型
            th 国家
            th 年份
          tbody
            each hot in hots
              tr
                td 
                  a(href="/movie/#{hot._id}" title="#{hot.title}") #{hot.title}
                td #{hot.doctor}
                td #{hot.players}
                td 
                  each type in hot.types
                    a(href="/tag/#{type._id}" title="#{type.tag}电影大全")
                       span.category #{type.tag}
                td #{hot.country}
                td #{hot.year}
