extends layout

block content
  .container
    .row
      .col-md-3
        section.tags.clearfix
          a.tag.current(href="#") 全部
          a.tag(href="#") 18禁
          a.tag(href="#") 科幻
          a.tag(href="#") 喜剧
          a.tag(href="#") 动作
          a.tag(href="#") 爱情
          a.tag(href="#") 18禁
          a.tag(href="#") 科幻
          a.tag(href="#") 喜剧
          a.tag(href="#") 动作
          a.tag(href="#") 爱情
          a.tag(href="#") 18禁
          a.tag(href="#") 科幻
          a.tag(href="#") 喜剧
          a.tag(href="#") 动作
          a.tag(href="#") 爱情
      .col-md-9
        section#main-body.clearfix
          each movie in movies
            .col-md-3
              .movie-box
                img.img-responsive(src="/uploads/400/#{movie.img}")
                h2 
                  a(href="/movie/#{movie._id}")= movie.title
                  span.label.label-success.pinfen 评分：8.3
                p 导演：#{movie.doctor}
                p 主演：#{movie.players}
                p 电影类型：
                  each type in movie.types
                    span.category= type
          .col-md-3
            .movie-box
              img.img-responsive(src="/upload/timg.jpg")
              h2 
                a(href="#") 印度超人
                span.label.label-success.pinfen 评分：8.3
              p 导演：悦三
              p 主演：book
              p 电影类型：
                span.category 科幻
                span.category 动作
          .col-md-3
            .movie-box
              img.img-responsive(src="/upload/timg.jpg")
              h2 
                a(href="#") 印度超人
                span.label.label-success.pinfen 评分：8.3
              p 导演：悦三
              p 主演：book
              p 电影类型：
                span.category 科幻
                span.category 动作
                span.category 喜剧
                span.category 爱情
          .col-md-3
            .movie-box
              img.img-responsive(src="/upload/timg.jpg")
              h2 
                a(href="#") 印度超人
                span.label.label-success.pinfen 评分：8.3
              p 导演：悦三
              p 主演：book
              p 电影类型：
                span.category 科幻
                span.category 动作
                span.category 喜剧
                span.category 爱情
          .col-md-3
            .movie-box
              img.img-responsive(src="/upload/timg.jpg")
              h2 
                a(href="#") 印度超人
                span.label.label-success.pinfen 评分：8.3
              p 导演：悦三
              p 主演：book
              p 电影类型：
                span.category 科幻
                span.category 动作
                span.category 喜剧
                span.category 爱情

          .col-md-3
            .movie-box
              img.img-responsive(src="/upload/timg.jpg")
              h2 
                a(href="#") 印度超人
                span.label.label-success.pinfen 评分：8.3
              p 导演：悦三
              p 主演：book
              p 电影类型：
                span.category 科幻
                span.category 动作
                span.category 喜剧
                span.category 爱情
          .col-md-3
            .movie-box
              img.img-responsive(src="/upload/timg.jpg")
              h2 
                a(href="#") 印度超人
                span.label.label-success.pinfen 评分：8.3
              p 导演：悦三
              p 主演：book
              p 电影类型：
                span.category 科幻
                span.category 动作
        nav.pages
          ul.pagination
            li
              a(href="#", aria-label="Previous")
                span(aria-hidden="true") &laquo;
            li.active
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#", aria-lable="Next")
                span(aria-hidden="true") &raquo;



