extends layout

append title
  title #{notice.title}

block content
  .container
    .row
      .col-md-3
        section.tags.clearfix
          a.tag.current(href="/") 全部
          each tag in tags 
            a.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
        section.hots
          h3.hot-title 一周影片热门榜
          div.list-group
            each hot,i in hots
              if i<5
                a.list-group-item(href="/movie/#{hot._id}" title="#{hot.title}") #{hot.title}
        section.notice
          h3.hot-title 全站公告
            if user && user.isadmin
              a.notice-btn.pull-right(href="/notice/add") 添加公告
          div.btn-group.text-center
            each notice in locals.notices
              a.btn.btn-default.btn-do(href="/notice/#{notice._id}" title="#{notice.title}") #{notice.title}
      .col-md-9
        .notice-box
          h1 #{notice.title}
          span.pubdate 发表于 #{pubdate}
          if user && user.isadmin
            a(href="/notice/#{notice._id}/update") 
              |   修改
            button.btn.btn-sm.btn-danger.del-notice(type="button", data-id="#{notice._id}") 删除
          .notice-content
            != notice.content