extends layout

append title
  if movie
    meta(name="keywords",content="#{movie.title},在线观看,无删减完整版")
    - var description = movie.summary.replace(/\r?\n/g,"").substring(0,100)
    meta(name="description" content="#{description}")
    title #{movie.title}(#{movie.year}年电影)_在线观看_无删减完整版_bttags
  else
    title #{title}

block content
  .container
    .row
      .col-md-3
        section.tags.clearfix
          a.tag.current(href="/") 全部
          each tag in tags 
            a.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
        section.hots
          h3.hot-title 一周影片热门榜
          div.list-group
            each hot,i in hots
              if i<5
                a.list-group-item(href="/movie/#{hot._id}" title="#{hot.title}") #{hot.title}
        section.side-ranks
          h3.hot-title 用户天梯榜
            a.notice-btn.pull-right(href="/userranks") 全部排名
          table.table.table-condensed
            tr
              th 排名
              th 贡献积分
            each userrank,i in locals.userranks
              if i<5
                tr
                  td
                    case i
                      when 0
                        span.hot-ranks.hot-ranks-1 #{i+1}
                      when 1
                        span.hot-ranks.hot-ranks-2 #{i+1}
                      when 2
                        span.hot-ranks.hot-ranks-3 #{i+1}
                      default
                        span.hot-ranks #{i+1}
                    a(href="/user/#{userrank._id}") #{userrank.name}
                  td #{userrank.postcounts}
        section.notice
          h3.hot-title 全站公告
            if user && user.isadmin
              a.notice-btn.pull-right(href="/notice/add") 添加公告
          div.btn-group.text-center
            each notice in locals.notices
              a.btn.btn-default.btn-do(href="/notice/#{notice._id}" title="#{notice.title}") #{notice.title}
      .col-md-9.article
        ol.breadcrumb
          li
            a(href="/") 首页
          if movie
            li.active #{movie.title}在线观看
          else
            li.active 通用在线观看
        if movie
          h1 #{movie.title}在线观看
        else
          h1 通用在线观看
        .play-content
        if movie
          .panel.panel-default
            .panel-heading #{movie.title}剧情简介
            - var types = [];
            each type in movie.types
              - types.push(type.tag);
            - var summary = "《"+movie.title+"》是"+movie.year+"年由"+movie.doctor+"导演，"+movie.players+"等主演的"+movie.country+types.join('、')+'电影。\n'+movie.summary;
            - var newsummary = summary.replace(/\r?\n/g,"<br />");
            .panel-body!=newsummary
          a.btn.btn-default.btn-block(href="/movie/#{movie._id}") 返回#{movie.title}
          if movieintopics.length
            .movie-topics
              h3.coltopic 收录于以下专题
              each movieintopic in movieintopics
                a(href="/topic/#{movieintopic._id}" title="#{movieintopic.topic}").btn.btn-primary #{movieintopic.topic}
          .recommands
            h3.coltopic 同类型电影推荐
            each movie in removies
              .col-md-3.col-sm-4.col-xs-6
                .movie-box
                  a(href="/movie/#{movie._id}" title="#{movie.title}")
                    img.img-responsive.lazy(data-original="/uploads/400/#{movie.img}" alt="#{movie.title}")
                  h4 
                    a(href="/movie/#{movie._id}" title="#{movie.title}")= movie.title
append footerjs
  script(src="/ckplayer/ckplayer/ckplayer.js")
  <script type="text/javascript">var videoObject = {container: '.play-content',variable: 'player',autoplay:false,video:'#{url}'};var player=new ckplayer(videoObject);</script>
