extends layout

append title
  title #{tagname}电影大全_下载/百度云网盘_bt老司机

append head
  meta(name="keywords" content="#{tagname}电影大全,#{tagname}片大全")
  meta(name="description" content="bt老司机提供最新最全#{tagname}电影、#{tagname}片，为喜欢#{tagname}类型电影的网友提供最优质的资源！")

block content
  .container
    .row
      .col-md-3
        section.tags.clearfix
          a.tag(href="/" title="bttags") 全部
          each tag in tags 
            - if(tag.tag==tagname)
              a.current.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
            - else
              a.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
        section.hots
          h3.hot-title 一周影片热门榜
          div.list-group
            each hot,i in hots
              if i<5
                a.list-group-item(href="/movie/#{hot._id}" title="#{hot.title}") #{hot.title}
        section.notice
          h3.hot-title 全站公告
            if user && user.isadmin
              a.notice-btn.pull-right(href="/notice/add") 添加公告
          div.btn-group.text-center
            each notice in locals.notices
              a.btn.btn-default.btn-do(href="/notice/#{notice._id}" title="#{notice.title}") #{notice.title}
       .col-md-9
         ol.breadcrumb.clearfix
            li
              a(href="/") 首页
            li.active #{tagname}电影大全
         section#main-body.clearfix
           include movie