extends layout

block content
  .container
    .row
      .col-md-3
        section.tags.clearfix
          a.tag(href="/") 全部
          each tag in tags 
            - if(tag.tag==tagname)
              a.current.tag(href="/tag/#{tag._id}") #{tag.tag}
            - else
              a.tag(href="/tag/#{tag._id}") #{tag.tag}
        section.hots
          h3.hot-title 一周影片热门榜
          div.list-group
            each hot,i in hots
              if i<5
                a.list-group-item(href="/movie/#{hot._id}") #{hot.title}
       include movie