extends layout

append title
  if title
    title #{title}_bttags
  else
    title 电影检索分类信息_bttags

append head
  if title
    meta(name="keywords" content="#{keywords}")
    meta(name="description" content="bttags电影分类查询，#{title}")
  else
    meta(name="keywords" content="电影分类检索")
    meta(name="description" content="bttags电影分类查询，可以根据年份，类型或者国家进行分类查询！")

block content
  .container
    .row
      ol.breadcrumb.clearfix
        if !navname
          li
            a(href="/") 首页
          li.active 电影分类
        else
          li
            a(href="/") 首页
          li
            a(href="/tags") 电影分类
          li.active #{navname}
      .categories-tags
        h2.hots-title 按电影类型分类
        section.tags.tagsbody.clearfix
          .movie-tags.clearfix
            each tag in tags
              a.tag(href="/tag/#{tag._id}" title="#{tag.tag}电影大全") #{tag.tag}
        - var years = [];
        - var countries = [];
        each category in locals.categories
          if category.class == 'year'
            - years.push(category);
          else if category.class == 'country'
            - countries.push(category);
        h2.hots-title 按电影年份分类
        section.tags.tagsbody.clearfix
          .year-tags.clearfix
            each year in years
              if navname && navname == year.name
                a.tag.current(href='/year/#{year.name}') #{year.name}
              else
                a.tag(href='/year/#{year.name}') #{year.name}
        h2.hots-title 按制片地区分类
        section.tags.tagsbody.clearfix
          .country-tags.clearfix
            each country in countries
              if navname && navname==country.name
                a.tag.current(href='/country/#{country.name}') #{country.name}
              else
                a.tag(href='/country/#{country.name}') #{country.name}
      if movies
        each movie in movies
          .col-md-3.col-sm-4.col-xs-6
            .movie-box
              a(href="/movie/#{movie._id}" title="#{movie.title}")
                img.img-responsive.lazy(data-original="/uploads/400/#{movie.img}" alt="#{movie.title}")
              h2 
                a(href="/movie/#{movie._id}" title="#{movie.title}")= movie.title
              dl
                dt.dtleft 导演：
                dd.ddright #{movie.doctor}
              dl 
                dt.dtleft 主演：
                dd.ddright #{movie.players}
              dl 
                dt 电影类型：
                each type in movie.types
                   dd 
                     a(href="/tag/#{type._id}" title="#{type.tag}电影大全")
                        span.category #{type.tag}
        nav.pages.clearfix
          if( pages> 1) 
            ul.pagination
              != createPagination(pages, page)
