extends layout

append title
  title #{topic.topic}_迅雷下载/百度云网盘_bttags

append head
  meta(name="keywords" content="#{topic.topic},#{topic.topic}迅雷下载")
  - var description = topic.summary.replace(/\r?\n/g,"").substring(0,100)
  meta(name="description" content="#{description}")

block content
  .container
    .row
      .col-md-3
        a.btn.btn-info.btn-topic(href="/topic/new" title="创建电影专题") 创建电影专题
        section.hots
          h3.hot-title 热门专题推荐
          div.list-group
            each hottopic,i in hottopics
              a.list-group-item(href="/topic/#{hottopic._id}" title="#{hottopic.topic}") #{hottopic.topic}
        section.side-ranks
          h3.hot-title 用户天梯榜
            a.notice-btn.pull-right(href="/userranks") 全部排名
          table.table.table-condensed
            tr
              th 排名
              th 贡献积分
            each userrank,i in locals.userranks
              if i<5
                tr
                  td
                    case i
                      when 0
                        span.hot-ranks.hot-ranks-1 #{i+1}
                      when 1
                        span.hot-ranks.hot-ranks-2 #{i+1}
                      when 2
                        span.hot-ranks.hot-ranks-3 #{i+1}
                      default
                        span.hot-ranks #{i+1}
                    a(href="/user/#{userrank._id}") #{userrank.name}
                  td #{userrank.postcounts}
        section.notice
          h3.hot-title 全站公告
            if user && user.isadmin
              a.notice-btn.pull-right(href="/notice/add") 添加公告
          div.btn-group.text-center
            each notice in locals.notices
              a.btn.btn-default.btn-do(href="/notice/#{notice._id}" title="#{notice.title}") #{notice.title}
      .col-md-9
        ol.breadcrumb.clearfix
          li
            a(href="/") 首页
          li.active 专题详情页
        section#main-body.clearfix
          .col-md-12.topic-body
            .topic-info
              h1 #{topic.topic}
              .author
                a.author-info(href="/user/#{topic.creator._id}" title="#{topic.creator.name}")
                  img(src="/upload/avatar/avatar-#{topic.creator.avatar}.jpg" width="40" height="40" alt="#{topic.creator.name}")
                  span #{topic.creator.name}
                span.pubdate 发表于 #{pubdate}
                .pull-right.admindo
                  if user 
                    if user._id == topic.creator._id || user.isadmin
                      a(href="/topic/#{topic._id}/update") 修改
                      a(href="/topic/#{topic._id}/addmovie" style="margin-left:5px;") 添加电影
                  if user && user.isadmin
                    button.deltopic.btn.btn-danger(type="button", data-id="#{topic._id}") 删除
              - var newsummary = topic.summary.replace(/\r?\n/g,"<br />");
              p!= newsummary
            each movie in movies
              .movie-lists.clearfix
                .col-md-4.imgbox
                  a(href="/movie/#{movie._id}" title="#{movie.title}")
                    img.center-block.img-responsive(src="/uploads/400/#{movie.img}" alt="#{movie.title}")
                .col-md-8.movieinfo
                  h2 
                    a(href="/movie/#{movie._id}" title="#{movie.title}") #{movie.title}
                    if user 
                      if user._id == topic.creator._id || user.isadmin
                        button.delmovie.pull-right.btn.btn-danger(type="button", data-movieid="#{movie._id}", data-topicid="#{topic._id}") 删除
                  dl
                    dt 导演：
                    dd #{movie.doctor}
                  dl 
                    dt 主演：
                    dd #{movie.players}
                  dl 
                    dt 电影类型：
                    dd
                      each type in movie.types
                        a(href="/tag/#{type._id}" title="#{type.tag}电影大全")
                          span.category #{type.tag}
                  dl.collec-summary
                    dt 电影剧情：
                    if movie.summary.length > 100
                      - var summary = movie.summary.substring(0,100)+ "..." ;
                      dd #{summary}
                    else
                      dd #{movie.summary}
                
        nav.pages
          if( pages> 1) 
            ul.pagination
              != createPagination(pages, page)