extends layout

block content
  .container
    .row
      .col-md-3
        a.btn.btn-info.btn-topic(href="/topic/new") 创建电影专题
        section.hots
          h3.hot-title 专题热门推荐
          div.list-group
            each hottopic in hottopics
              a.list-group-item(href="/topic/#{hottopic._id}") #{hottopic.topic}
      .col-md-9
        section#main-body.clearfix
          each topic in topics
            .col-md-4.col-sm-6.col-xs-12
              .movie-box.topic-box
                a(href="/topic/#{topic._id}")
                  img.img-responsive(src="/uploads/400/#{topic.movies[0].img}")
                h2 
                  a(href="/topic/#{topic._id}")= topic.topic
                .collection
                  p 最近收录
                  .col-lists
                    each movie, i in topic.movies
                      if i < 3
                        a.movielist(href="/movie/#{movie._id}" title="#{movie.title}") #{movie.title}
        nav.pages
          if( pages> 1) 
            ul.pagination
              != createPagination(pages, page)