extends layout

append title
  title 电影专题_bttags

append head
  meta(name="keywords" content="bt老司机电影专题")
  meta(name="description" content="电影专题是用户根据自己的喜好创建的电影聚合专题，包罗万象，分门别类！")

block content
  .container
    .row
      .col-md-3
        a.btn.btn-info.btn-topic(href="/topic/new" title="创建电影专题") 创建电影专题
        section.hots
          h3.hot-title 专题热门推荐
          div.list-group
            each hottopic in hottopics
              a.list-group-item(href="/topic/#{hottopic._id}" title="#{hottopic.topic}") #{hottopic.topic}
        section.side-ranks
          h3.hot-title 用户天梯榜
            a.notice-btn.pull-right(href="/userranks") 全部排名
          table.table.table-condensed
            tr
              th 排名
              th 贡献积分
            each userrank,i in locals.userranks
              if i<5
                tr
                  td
                    case i
                      when 0
                        span.hot-ranks.hot-ranks-1 #{i+1}
                      when 1
                        span.hot-ranks.hot-ranks-2 #{i+1}
                      when 2
                        span.hot-ranks.hot-ranks-3 #{i+1}
                      default
                        span.hot-ranks #{i+1}
                    a(href="/user/#{userrank._id}") #{userrank.name}
                  td #{userrank.postcounts}
        section.notice
          h3.hot-title 全站公告
            if user && user.isadmin
              a.notice-btn.pull-right(href="/notice/add") 添加公告
          div.btn-group.text-center
            each notice in locals.notices
              a.btn.btn-default.btn-do(href="/notice/#{notice._id}" title="#{notice.title}") #{notice.title}
      .col-md-9
        ol.breadcrumb.clearfix
          li
            a(href="/") 首页
          li.active 电影专题
        section#main-body.clearfix
          each topic in topics
            .col-md-4.col-sm-6.col-xs-12
              .movie-box.topic-box
                a(href="/topic/#{topic._id}" title="#{topic.topic}")
                  img.img-responsive(src="/uploads/400/#{topic.movies[0].img}" alt="#{topic.topic}")
                h2 
                  a(href="/topic/#{topic._id}" title="#{topic.topic}")= topic.topic
                .collection
                  p 最近收录
                  .col-lists
                    each movie, i in topic.movies
                      if i < 3
                        a.movielist(href="/movie/#{movie._id}" title="#{movie.title}") #{movie.title}
        nav.pages
          if( pages> 1) 
            ul.pagination
              != createPagination(pages, page)