extends layout

block content
  .container
    .row
      .col-md-3
        .user-info
            img(src="/upload/avatar/avatar-#{visituser.avatar}.jpg")
            h1.name #{visituser.name}
            p 
              strong  贡献发帖数：
              | #{visituser.postcounts}
            p 
              strong 用户组： 
              if(visituser.isadmin)
                | I need AV
              else
                | #{visituser.role.role}
            p 
              strong 个人签名： 
              | #{visituser.signature}
            - if(user&&visituser._id == user._id)
                .btn-group.text-center(role="group")
                  a.btn.btn-default.btn-do(type="button" href="/logout") 注销
                  a.btn.btn-default.btn-do(type="button" href="/user/edit") 编辑资料
       include movie